:root{
    --primary-color: #000;
    --bg: #fff;
    --blue: #007bff; 
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #077252;
    --teal: #29b27f;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #070717;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa; 
    --dark: #343a40;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    background: var(--bg);
    font-family: 'Inter', sans-serif;
    color: solid black;
    padding: 0 7.5rem;
}

body a{
    font-size: 1rem;
    text-decoration: none;
}


/* Navbar */

.navbar-action-item
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 144px;
    height: 48px;
    margin: 0 1rem;
    font-weight: 600;
    color: var(--teal);
    transition: all 0.3s ease;
    border-radius: 12px;
    border: 1px solid var(--teal);
    text-decoration: none;
    font-size: 14px;

}

.navbar-info{
    
    display: flex;
    justify-content: space-between;
}

.info-title{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--teal);
    border-radius: 12px;
    margin-right: 1rem;
}
.navbar-info-title{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 0.2rem 1rem;

}

.navbar-info-name{
    font-weight: 700;
    color: var(--teal);
    margin:0.2rem;
}

.exit{
    margin: 0;
    margin: 0.2rem 0;
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: var(--danger);
}

.exit:hover{
    color: var(--red);
    transition: 0.3s ease;
}
.navbar-action-item:hover{
    color: var(--teal);
    border-color: var(--green);
}
.btn-primary
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 48px;
    font-size: 14px;
    padding: 8px;
    margin: 0;
    font-weight: 600;
    background-color: var(--teal);
    color: var(--white);
    transition: all 0.3s ease;
    border-radius: 12px;
    border: 1px solid var(--teal);
    text-decoration: none;
}

.btn-primary:hover{
    border: 2px solid var(--green);
    background-color: var(--green);
}

.icon-menu{
    display: flex;
    margin: 0 0.8rem;
    align-items: center;
    transition: 0.3s ease;
    color: var(--gray-dark);
}

.icon-menu:hover{
    color: var(--teal);
    transition: 0.3s ease;
}

#menu{
    display: none;
}
#burger{
    display: none;
}

#search-menu{
    display: none;
}

#cart-menu{
    display: none;
}


#carouselExampleSlidesOnly {
    margin: 40px 120px;
}
.carousel-item img{
    width: 100%;
    height: 610px;
    object-fit: cover;
}

.container-blog{
    margin: 0 120px;
}

.col-md-4 {
    padding: 20px;
  }

#blog-posts img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card-title{
    font-size: 24px;
    color: #121212;
    font-weight: 600;
}

.card-text{
    font-size: 16px;
    color: #78828A;
    font-weight: 400;
}

#load-more-btn{
    margin: 24px 0;
}


    /* Footer */
    .footer-section{
        position: relative;
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        height: 20rem;
        margin: 0 120px;
    }
    
    .footer-section .company{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 50%;
        height: 50%;
    
    }
    
    .company .img{
        padding: 3px;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background-color: var(--white);
    }
    
    .company .company-item{
        margin-top: 1rem;
        width: 50%;
        color: var(--gray-dark);
        font-size: 14px;
        font-weight: 400;
    }
    
    .footer-section .about{
        display:flex;
        justify-content: flex-end;
        width: 50%;
        height: 50%;
    
    }
    
    .about .title{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--gray-dark);
    }
    
    .about .fitur {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;
        height: 100%;
        border-bottom: 2px;
    }
    
    .about .fitur-item {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about .fitur-item a{
        color: var(--gray-dark);
        font-size: 14px;
        font-weight: 400;
        margin-top: 10px;
        text-decoration: none;
    }
    
    .copyright{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    
    .copyright p{
        font-size: 14px;
        font-weight: 400;
        color: var(--gray);
    }
    
    


@media only screen and (max-width: 767px) {
 
    
body{
    padding: 0 1rem;
}

body a{
    font-size: 14px;
}

/* Navbar */

#menu{
    margin-right: 2rem;
    display: flex;
    width: 35%;
    justify-content: space-between;
}
#burger{
    display: inline-block;
}

#search-menu{
    display: inline-block;
}

#cart-menu{
    display: inline-block;
}

.navbar-nav{
    display: inline-block;
    position: absolute;

    background-color: #007bff;
}


#carouselExampleSlidesOnly {
    margin: 40px;
}

.carousel-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card{
    margin: 24px 20px;
}

.container-blog{
    margin: 0 20px;
}

#blog-posts img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.col-md-4{
    padding: 0;
}

#load-more-btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    }
   
}
